@tailwind base;
@tailwind components;
@tailwind utilities;

    .progress-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: #71717a;
        transform-origin: 0%;
        z-index: 100
      }

@layer base {
    body {
        @apply bg-zinc-900;
    }
}